<!-- Include the header partial -->
<% title = "Админка" %>

<% include ../_header %>

<link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">

<% include ../_menu.ejs %>

<!-- content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Админка
                <small>Version 1.0</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">Админка</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">

                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Загрузка all-а</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                <label>Выберите дату:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" id="date">
                                </div><!-- /.input group -->
                            </div>
                            <div class="form-group" id="hidden_area" style="display:none">
                                <textarea id="event"></textarea>
                                <input id="fileName" type="text" placeholder="Выберите zip файл">
                                <input type="file" id="form-file">
                                <p class="help-block">Выберите all*.zip</p>
                            </div>
                          </div>
                        <div class="box-footer" id="date_submit" style="display:none">
                           <button type="submit" class="btn btn-primary" onclick="sendData()">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- /.content-wrapper -->

<!-- Include the footer partial -->
<% include ../_footer %>
<% include ../_js.ejs %>


<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>

    $('#date').datepicker({
        format: "dd.mm.yyyy",
        autoclose: true
    });

    var b64;
    var calendarEntryId;

    //$("#date").val(new Date());
    $("#date").change(function () {
        console.log("date = " + $("#date").val());
        $.ajax({
            url: '/admin/getcalendarentry',
            type: 'GET',
            data: {
                "ondate": $("#date").val()
            }

        }).done(function (response) {

            if (response.errors) {

            } else {
                calendarEntryId = response.calendarEntryId;
                $('#event').html(response.events);
                $('#hidden_area').attr("style", "display:inline");
                $('#date_submit').attr("style", "display:inline");
            }


        });
    });
    function readFile(input) {
        if (input.files && input.files[0]) {
            var FR = new FileReader();
            FR.onload = function (e) {

                $('#fileName').val(input.files[0].name);
                b64 = e.target.result;
            };
            FR.readAsDataURL(input.files[0]);
        }
    }

    $("#form-file").change(function () {
        readFile(this);
    });

    function sendData() {

        //event.preventDefault();

        $.ajax({
            url: '/admin/uploadallfile',
            type: 'POST',
            data: {
                "calendarEntryId": calendarEntryId,
                "b64": b64
            }

        }).done(function (response) {

            b64 = null;
            $('#fileName').val("");
            $("#form-file").val("");

        });
    }


</script>


<!-- Include the footer partial -->


 </body>
</html>