<!-- Include the header partial -->
<% include ../_header %>


<!-- content -->
<div id="page_content">
    <div id="page_content_inner">
        <div id="page_content_inner">

            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">
                        Импорт All файла
                        <span class="sub-heading">Ручной импорт</span>
                    </h3>

                    <div class="uk-grid">
                        <div class="uk-width-1-1">


                            <div class="md-input-wrapper"><label for="uk_dp_1">Выберите дату</label><input id="date"
                                                                                                           class="md-input ng-pristine ng-valid ng-isolate-scope md-input-processed ng-touched"
                                                                                                           type="text"
                                                                                                           id="uk_dp_1"
                                                                                                           data-uk-datepicker="{format:'DD.MM.YYYY'}"
                                                                                                           md-input=""
                                                                                                           ng-model="forms_advanced.datepicker"
                                                                                                           style=""><span id="dSpan"
                                        class="md-input-bar"></span></div>

                            <div id="hidden_area" style="display:none">
                                <div class="uk-width-medium-1-3 uk-width-large-1-2">
                                    <textarea id="event"></textarea>
                                </div>

                                <input id="fileName" type="text"
                                       class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope md-input-processed"
                                       disabled="" ng-model="form.input_c" md-input="" placeholder="Выберите zip файл">

                                <div class="uk-form-file md-btn md-btn-primary">
                                    Выбрать
                                    <input id="form-file" type="file" class="ng-pristine ng-untouched ng-valid">
                                </div>


                                <input type="button" onclick="sendData()" value="Отправить">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

    var b64;
    var calendarEntryId;

    //$("#date").val(new Date());
    $("#date").change(function () {
        console.log("date = " + $("#date").val());
        $.ajax({
            url: '/admin/getcalendarentry',
            type: 'GET',
            data: {
                "ondate": $("#date").val()
            }

        }).done(function (response) {

            if (response.errors) {

            } else {
                calendarEntryId = response.calendarEntryId;
                $('#event').html(response.events);
                $('#hidden_area').attr("style", "display:inline");
            }


        });
    });
    function readFile(input) {
        if (input.files && input.files[0]) {
            var FR = new FileReader();
            FR.onload = function (e) {

                $('#fileName').val(input.files[0].name);
                b64 = e.target.result;
            };
            FR.readAsDataURL(input.files[0]);
        }
    }

    $("#form-file").change(function () {
        readFile(this);
    });

    function sendData() {

        //event.preventDefault();

        $.ajax({
            url: '/admin/uploadallfile',
            type: 'POST',
            data: {
                "calendarEntryId": calendarEntryId,
                "b64": b64
            }

        }).done(function (response) {

            b64 = null;
            $('#fileName').val("");
            $("#form-file").val("");

        });
    }


</script>


<!-- Include the footer partial -->
<% include ../_footer %>