<!-- Include the header partial -->
<% title = "Админка" %>

<% include ../_header %>



<% include ../_menu.ejs %>

<!-- content -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Админка
                <small>Version 1.0</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Главная</a></li>
                <li class="active">Админка</li>
            </ol>
        </section>

    <section class="content">
        <div class="row">   

            <% include uploadAll.ejs %>
            <% include updateTimetable.ejs %>
        </div>

 
    </section>






        <!-- Main content -->

    </div><!-- /.content-wrapper -->

<!-- Include the footer partial -->
<% include ../_footer %>



<script>

    $('.datepicker').datepicker({
        format: "dd.mm.yyyy",
        autoclose: true
    });
//    $('.alert').on('hide', function (event) {
//        event.preventDefault();
//        $(event.target).parent().hide(1000 );
//    })
</script>



<!-- Include the footer partial -->


 </body>
</html>