        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Загрузка и обновление календаря</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label>Период</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>

                            <div class="input-group input-daterange">
                                <input id="from" type="text" class="datepicker form-control">
                                <span class="input-group-addon"> по </span>
                                <input id="to" type="text" class="datepicker form-control">
                            </div>

                        </div>
                        <p class="help-block">Укажите период загрузки</p>

                        <div id="updateTimeTableAlert" class="alert alert-danger alert-dismissible" style="display:none">
                            <button type="button" class="close" aria-hidden="true" onclick="$('#updateTimeTableAlert').hide(500)">×</button>
                            <h4><i class="icon fa fa-ban"></i> Ошибка!</h4>
                            <p id="errorUpdateTimeTable"></p>
                        </div>


                        <div id="messSUpdateTimeTable" class="alert alert-success alert-dismissible" style="display:none">
                            <button type="button" class="close" aria-hidden="true" onclick="$('#messSUpdateTimeTable').hide(500)">×</button>
                            <h4><i class="icon fa fa-check"></i> Сообщение!</h4>
                            <p id="messUpdateTimeTable"></p>
                        </div>

                        <!-- /.input group -->
                    </div>
                </div>
                <div class="box-footer" id="dates_submit" style="display:none">
                    <button type="submit" class="btn btn-primary" onclick="updateTimeTable()">Загрузить</button>
                </div>


            </div>
        </div>

<script>


    $(".datepicker").change(function () {

        if ((typeof $("#from").val() != "undefined" && $("#from").val() != "") && (typeof $("#to").val() != "undefined" && $("#to").val() != "")) {
            $("#dates_submit").show("fast");
        } else {
            $("#dates_submit").hide(100);
        }
    });

    function updateTimeTable() {

        $.ajax({
            url: '/admin/updatetimetable',
            type: 'GET',
            data: {
                "from": $("#from").val(),
                "to": $("#to").val()
            }

        }).done(function (response) {
            console.log(response);

            if(response["result"] == "error") {
                console.log(response["message"]);
                $("#errorUpdateTimeTable").html(response["message"]);
                $("#updateTimeTableAlert").show( "slow" );
            } else {
                b64 = null;
                $('#to').val("");
                $("#from").val("");
                $("#messUpdateTimeTable").html(response["message"]);
                $("#errorUpdateTimeTable").html("");
                $("#updateTimeTableAlert").hide(100);
                $("#dates_submit").hide(100);
                $("#messSUpdateTimeTable").show( "slow" );

            }



        });

    }

</script>