        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Загрузка и обновление календаря</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label>Период</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-left active" id="dateRangeTimetable">

                        </div>
                        <p id="mess" class="help-block">Укажите период загрузки</p>

                        <!-- /.input group -->
                    </div>
                </div>
                <div class="box-footer" id="date_submit" style="display:none">
                    <button type="submit" class="btn btn-primary" onclick="updateTimeTable()">Загрузить</button>
                </div>
            </div>
        </div>

<script>
    $('#dateRangeTimetable').daterangepicker({
        //format: "DD.MM.YYYY"

        "locale": {
            "format": "DD.MM.YYYY",
            "separator": " - ",
            "applyLabel": "Применить",
            "cancelLabel": "Отменить",
            "fromLabel": "С",
            "toLabel": "По",
            "customRangeLabel": "Произвольно",
            "daysOfWeek": [
                "Вс",
                "Пн",
                "Вт",
                "Ср",
                "Чт",
                "Пт",
                "Сб"
            ],
            "monthNames": [
                "Январь",
                "Февраль",
                "Март",
                "Апрель",
                "Май",
                "Июнь",
                "Июль",
                "Август",
                "Сентябрь",
                "Октябрь",
                "Ноябрь",
                "Декабрь"
            ],
            "firstDay": 1
        }

    });

    function updateTimeTable() {
        console.log($('#dateRangeTimetable').val());
    }

</script>