<div class="col-md-4">

    <div class="box box-primary allLoader" id="allLoader">
        <div class="box-header with-border">
            <h3 class="box-title">Ручная загрузка all-а</h3>

            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->

        <div class="box-body" id="uploadAllBody">



            <div class="form-group">
                <label>Выберите дату:</label>

                <div class="input-group">


                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="datepicker form-control" id="date">
                </div>
                <p class="help-block">Укажите дату данных</p>
                <!-- /.input group -->
            </div>

            <div class="form-group" id="hidden_area" class="alert" style="display:none">
                <div id="event" class="small-box bg-green"></div>
                <input type="file" id="form-file" accept=".zip">

                <p class="help-block">Выберите all*.zip</p>


            </div>

            <div id="uploadAlert" class="alert alert-danger alert-dismissible" style="display:none">
                <button type="button" class="close" aria-hidden="true" onclick="$('#uploadAlert').hide(500)">×</button>
                <h4><i class="icon fa fa-ban"></i> Ошибка!</h4>

                <p id="errorUploadAll"></p>
            </div>

            <div id="uploadSAlert" class="alert alert-success alert-dismissible" style="display:none">
                <button type="button" class="close" aria-hidden="true" onclick="$('#uploadSAlert').hide(500)">×</button>
                <h4><i class="icon fa fa-check"></i> Сообщение!</h4>

                <p id="messUploadAll"></p>
            </div>

        </div>
        <div class="box-footer" id="date_submit" style="display:none">
            <button type="submit" class="btn btn-primary" onclick="updateAllFile()">Отправить</button>
        </div>

    </div>

    <!--<div id="allLoaderSpinner" class="allLoader-overlay-down" height="100%" width="100%" style="position: absolute; top: 0%;left: 0%;z-index:-5000; background: rgba(54, 25, 25, .5);">-->
        <!--<div style="position: absolute; top: 50%;left: 50%;">-->
            <!--<i class="fa fa-spin fa-spinner fa-2x"></i>&nbsp;-->
        <!--</div>-->
    <!--</div>-->


    <div class="allLoader-overlay-down">
        <!--<div style="position: relative; top: 40%;left: 40%;background: rgba(54, 25, 25, .5);">-->
            <!--<i class="fa fa-spin fa-spinner fa-2x"></i>&nbsp;-->
        <!--</div>-->
    </div>

</div>




<script>


    function showSpinner(divId) {

       //$("#"+divId).addClass("jumbotron-overlay-down");

        var div = $("#"+divId+"Spinner");
        if(div.length) {
            div.css({ position: "relative"})
            div.css('z-index', 5000)
            div.show("fast")
        }
    }


    function hideSpinner(divId) {

        var div = $("#"+divId+"Spinner");
        if(div.length) {
            div.css('z-index', -5000)
            div.hide(10);
        }
    }



    var b64;
    var calendarEntryId;

    //$("#date").val(new Date());
    $("#date").change(function () {

        if (typeof $("#date").val() != "undefined" && $("#date").val() != "") {

           // $("#uploadAllBody").overlay("uploadAllBody");

            showSpinner("allLoader");

            $.ajax({
                url: '/admin/getcalendarentry',
                type: 'POST',
                data: {
                    "ondate": moment($("#date").val(), "DD.MM.YYYY").format("YYYY-MM-DD")
                }

            }).done(function (response) {
               // $("#uploadAllBody").overlayout("uploadAllBody");

                hideSpinner("allLoader");

                if (response.errors) {
//                $('#hidden_area').attr("style", "display:none;");
//                $('#date_submit').attr("style", "display:none;");
                    $('#hidden_area').hide(100);
                    $('#date_submit').hide(100);

                } else {
                    calendarEntryId = response.calendarEntryId;
                    if(typeof  response.events!="undefined" && response.events.length>0) {
                        var event =  response.events.join("<br/>");
                        $('#event').html(event);
                    }


//                $('#hidden_area').attr("style", "display:block;");
//                $('#date_submit').attr("style", "display:block;");

                    $("#hidden_area").show("fast");
                    $('#date_submit').show("fast");
                }


            });
        }

    });
    function readFile(input) {
        if (input.files && input.files[0]) {
            var FR = new FileReader();
            FR.onload = function (e) {
                b64 = e.target.result;
            };
            FR.readAsDataURL(input.files[0]);
            //FR.readAsArrayBuffer(input.files[0]);
        }
    }

    $("#form-file").change(function () {
        readFile(this);
    });

    function updateAllFile() {

        //event.preventDefault();
       // $("#uploadAllBody").overlay();
        showSpinner("allLoader");
        $.ajax({
            url: '/admin/uploadallfile',
            type: 'POST',
            data: {
                "calendarEntryId": calendarEntryId,
                "b64": b64
            }

        }).done(function (response) {
            //$("#uploadAllBody").overlayout();
            hideSpinner("allLoader");
            console.log(response);

            if (response["result"] == "error") {
                $("#errorUploadAll").html(response["message"]);
                $("#uploadAlert").show("slow");
            } else {
                b64 = null;
                $('#fileName').val("");
                $("#form-file").val("");
                $("#messUploadAll").html(response["message"]);
                $("#errorUploadAll").html("");
                $('#hidden_area').hide(100);
                $('#date_submit').hide(100);
                $("#uploadAlert").hide(100);
                $("#date").val("");
                $("#uploadSAlert").show("slow");
            }


        });
    }


</script>