<div class="col-md-4">

    <div class="box box-primary matchLoader" id="matchLoader">
        <div class="box-header with-border">
            <h3 class="box-title">Ручная загрузка матчей</h3>

            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->

        <div class="box-body" id="matchBody">



            <div class="form-group">
                <label>Выберите дату:</label>

                <div class="input-group">


                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="datepicker form-control" id="mathcDate">
                </div>
                <p class="help-block">Укажите дату матчей</p>
                <!-- /.input group -->
            </div>

            <div class="form-group" id="matchHidden_area" class="alert" style="display:none">
                <div id="matchEvent" class="small-box bg-green"></div>
            </div>


            <div id="matchAlert" class="alert alert-danger alert-dismissible" style="display:none">
                <button type="button" class="close" aria-hidden="true" onclick="$('#matchAlert').hide(500)">×</button>
                <h4><i class="icon fa fa-ban"></i> Ошибка!</h4>

                <p id="errorUpdateMatches"></p>
            </div>

            <div id="matchSAlert" class="alert alert-success alert-dismissible" style="display:none">
                <button type="button" class="close" aria-hidden="true" onclick="$('#matchSAlert').hide(500)">×</button>
                <h4><i class="icon fa fa-check"></i> Сообщение!</h4>

                <p id="messUpdateMatches"></p>
            </div>

        </div>
        <div class="box-footer" id="match_date_submit" style="display:none">
            <button type="submit" class="btn btn-primary" onclick="updateMatches()">Загрузить</button>
        </div>

    </div>

    <!--<div id="allLoaderSpinner" class="allLoader-overlay-down" height="100%" width="100%" style="position: absolute; top: 0%;left: 0%;z-index:-5000; background: rgba(54, 25, 25, .5);">-->
        <!--<div style="position: absolute; top: 50%;left: 50%;">-->
            <!--<i class="fa fa-spin fa-spinner fa-2x"></i>&nbsp;-->
        <!--</div>-->
    <!--</div>-->


    <div class="matchLoader-overlay-down">
        <!--<div style="position: relative; top: 40%;left: 40%;background: rgba(54, 25, 25, .5);">-->
            <!--<i class="fa fa-spin fa-spinner fa-2x"></i>&nbsp;-->
        <!--</div>-->
    </div>

</div>




<script>


    function showSpinner(divId) {

       //$("#"+divId).addClass("jumbotron-overlay-down");

        var div = $("#"+divId+"Spinner");
        if(div.length) {
            div.css({ position: "relative"})
            div.css('z-index', 5000)
            div.show("fast")
        }
    }


    function hideSpinner(divId) {

        var div = $("#"+divId+"Spinner");
        if(div.length) {
            div.css('z-index', -5000)
            div.hide(10);
        }
    }



    var b64;
    var calendarEntryId;

    //$("#date").val(new Date());
    $("#mathcDate").change(function () {

        if (typeof $("#mathcDate").val() != "undefined" && $("#mathcDate").val() != "") {

           // $("#uploadAllBody").overlay("uploadAllBody");

            showSpinner("matchLoader");

            $.ajax({
                url: '/admin/getcalendarentry',
                type: 'POST',
                data: {
                    "ondate": moment($("#mathcDate").val(), "DD.MM.YYYY").format("YYYY-MM-DD")
                }

            }).done(function (response) {
               // $("#uploadAllBody").overlayout("uploadAllBody");

                hideSpinner("matchLoader");

                if (response.errors) {

                    $('#matchHidden_area').hide(100);
                    $('#match_date_submit').hide(100);

                } else {
                    calendarEntryId = response.calendarEntryId;
                    if(typeof  response.events!="undefined" && response.events.length>0) {
                        var event =  response.events.join("<br/>");
                        $('#matchEvent').html(event);
                    }


                    $("#matchHidden_area").show("fast");
                    $('#match_date_submit').show("fast");
                }


            });
        }

    });


    function updateMatches() {

        //event.preventDefault();
       // $("#uploadAllBody").overlay();
        showSpinner("matchLoader");
        $.ajax({
            url: '/admin/updatematches',
            type: 'get',
            data: {
                "calendarEntryId": calendarEntryId
            }

        }).done(function (response) {
            //$("#uploadAllBody").overlayout();
            hideSpinner("matchLoader");
            console.log(response);

            if (response["result"] == "error") {
                $("#errorUpdateMatches").html(response["message"]);
                $("#matchAlert").show("slow");
            } else {

                $("#messUpdateMatches").html(response);
                $("#errorUpdateMatches").html("");
                $('#match_date_submit').hide(100);
                $("#matchAlert").hide(100);
                $('#matchHidden_area').hide(100);
                $("#date").val("");
                $("#matchSAlert").show("slow");
            }


        });
    }


</script>