


<script>
//сюда добавляем все, что нам нужно на всех страницах сайта.
//данные живут локально на протяжении сессии
//данные будут храниться в localStorage, прежде чем делать запрос на сервер, нужно проверить наличие актуальных данных в localStorage
//актуальность проверять по дате, если данные записаны сегодня, то можно смело их использовать, иначе обращаемся к серверу и обновляем данные
//внимание, все функции тут работают асинхронно, то есть независимо друг от друга, если нужна зависимость, то надо немного по-другому писать
var turnirs = {};
var clubs = {};

if(typeof(Storage) !== "undefined") {

    if (sessionStorage.turnirs) {
        turnirs = JSON.parse(sessionStorage.turnirs);
        //запускаем функцию, которая инициализирет объекты, которые используют турниры, например выбор турниров в меню
        console.log("from session");
        console.log(turnirs);
       // $("#turnirs").html(JSON.stringify(turnirs));

    } else {

        console.log("from server");
        getTurnirsFromServer();
    }


    if (sessionStorage.clubs) {
        clubs = JSON.parse(sessionStorage.clubs);
        //запускаем функцию, которая инициализирет объекты, которые используют клубы, например выбор клуба в меню
        console.log("from session");
        console.log(clubs);
       // $("#clubs").html(JSON.stringify(clubs));
    } else {

        console.log("from server");
        getClubsFromServer();

    }

} else {
    getTurnirsFromServer();
    getClubsFromServer();
}


function getTurnirsFromServer() {
    $.ajax({
        url: "/initturnirs",
        type: "GET"
    }).done(function (response) {
        if(response.turnirs) {
            turnirs = response.turnirs;
            if(typeof(Storage) !== "undefined") {
                sessionStorage.turnirs = JSON.stringify(turnirs);
            }
            console.log(turnirs);
            //$("#turnirs").html(JSON.stringify(turnirs));
            //запускаем функцию, которая инициализирет объекты, которые используют турниры, например выбор турниров в меню
        } else {
            console.log(response);

            //$("#turnirs").html(JSON.stringify(response));
            //запускаем функцию, которая инициализирет объекты, которые используют турниры, например выбор турниров в меню
        }


    });
}

function getClubsFromServer() {
    $.ajax({
        url: "/initclubs",
        type: "GET"
    }).done(function (response) {
        if(response.clubs) {
            clubs = response.clubs;
            if(typeof(Storage) !== "undefined") {
                sessionStorage.clubs = JSON.stringify(clubs);
            }
            console.log(clubs);
            //запускаем функцию, которая инициализирет объекты, которые используют клубы, например выбор клуба в меню

           // $("#clubs").html(JSON.stringify(clubs));

        } else {
            console.log(response);

           // $("#clubs").html(JSON.stringify(response));
        }

    });
}

</script>

<div id="clubs">

</div>

<div id="turnirs">

</div>