<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
<script type="text/javascript" src="/js/jszip.min.js"></script>
</head>
<body>
<!-- start header -->
<h1><%= someContent %></h1>
</body>
</html>