<!-- Include the header partial -->
<% include _header %>

<!-- content -->
<div id="page_content">
	<div id="page_content_inner">
		<h1><%= someContent %></h1>
	</div>
</div>

<!-- Include the footer partial -->
<% include _footer %>